
<%- include("partials/header.ejs") %>

    <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title text-center mb-4">IP Address Checker</h2>
                <form action="/submit" method="POST" class="form-container">
                  <div class="mb-3">
                    <label for="ipAddress" class="form-label">Enter an IP Address:</label>
                    <input type="text" class="form-control" id="ipAddress" name="ipAddress" pattern="^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$|^([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}$" required title="The format of your IP address is invalid. Example: 162.55.51.87">
                    <div class="invalid-feedback">Please enter a valid IP address.</div>
                  </div>
                  <button type="submit" class="btn btn-primary w-100">Check Security</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

<%- include("partials/footer.ejs") %>

