
<%- include("partials/header.ejs") %>

    
  
    <form action="/submit" method="POST">
        <label for="ipAddress">Enter an IP Address:</label>
        <input type="text" name="ipAddress">
        <button type="submit">Submit</button>
    </form>
  
    
        
<%- include("partials/footer.ejs") %>

